
.box-flex(@flex: 1) {
	-moz-box-flex: @flex;
	-webkit-box-flex: @flex;
	box-flex: @flex;
}
.box-orient(@orientation: vertical){
	-moz-box-orient: @orientation;
	-webkit-box-orient: @orientation;
	box-orient: @orientation;
}
.box-pack(@method: center){
	-moz-box-pack: @method;
	-webkit-box-pack: @method;
	box-pack: @method;
}
.box-align(@align: center){
	-moz-box-align: @align;
	-webkit-box-align: @align;
	box-align: @align;
}
.display-box{
	display: -moz-box;
	display: -webkit-box;
	display: box;
}
.ember-application > .ember-view, html, .app, body {
	height: 100%;
	width: 100%;
}
.btn {
	.display-box();
	.box-orient(vertical);
	.box-pack(center);

	span {
		.box-flex(1);
	}
}
.app {
	.display-box();
	.box-orient(vertical);
	.menubar {
		.box-flex(1);
		.display-box();
		.box-orient(horizontal);

		background: #ccc;

		button.back {
			.box-flex(1);
		}

		section.spacer {
			.box-flex(10);
			.display-box();
			.box-orient(vertical);
			.box-pack(center);
			.box-align(center);

			span {
				.box-flex(1);
			}
		}

		section.score {
			.box-flex(1);

			.display-box();
			.box-orient(vertical);
			.box-pack(center);

			span {
				.box-flex(1);
			}
		}
	}
	.workspace {
		.display-box();
		.box-orient(vertical);
		.box-flex(19);

		background: grey;

		.select-game-view {
			.box-flex(1);
			.display-box();
			.box-align(justify);

			.box-orient(vertical);

			h2 {
				.box-flex(1);
			}
			ul {
				margin: 10px;

				.display-box();

				.box-orient(vertical);

				.box-flex(10);

				li {
					.box-flex(1);

					& + li {
						margin-top: 10px;
					}

				}
			}

		}
		.game-view {
			.display-box();
			.box-orient(horizontal);
			.box-flex(1);

			.qa-section{
				.box-flex(1);
				.display-box();
				.box-orient(horizontal);


				.question-container {
					.box-flex(1);
					.display-box();

					.question-view {
						.box-flex(1);
						h1 {
							width: 200px;
						}
					}
				}
				.answers-container {
					.box-flex(1);
					margin: 10px;
					.display-box();
					.box-orient(vertical);

					.answer-view {
						.box-flex(1);
						& + li {
						}
					}
				}
			}
		}
	}
}
body {

}
.btn {
	font-size: inherit;
}