
.box-flex(@flex: 1) {
	-moz-box-flex: @flex;
	-webkit-box-flex: @flex;
	box-flex: @flex;
}
.box-orient(@orientation: vertical){
	-moz-box-orient: @orientation;
	-webkit-box-orient: @orientation;
	box-orient: @orientation;
}
.box-pack(@method: center){
	-moz-box-pack: @method;
	-webkit-box-pack: @method;
	box-pack: @method;
}
.box-align(@align: center){
	-moz-box-align: @align;
	-webkit-box-align: @align;
	box-align: @align;
}
.display-box{
	display: -moz-box;
	display: -webkit-box;
	display: box;
}
.ember-application > .ember-view, html, .app, body {
	height: 100%;
	width: 100%;
}
.btn {
	.display-box();
	.box-orient(vertical);
	.box-pack(center);

	span {
		.box-flex(1);
	}
}
.app {
	/*
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	*/
	//height: 720px;
	//width: 1280px;

	//display: -moz-box;

	.display-box();
	.box-orient(vertical);

	//-moz-box-orient: vertical;



	.menubar {
		//-moz-box-flex: 1;
		.box-flex(1);

		//display: -moz-box;
		.display-box();

		//-moz-box-orient: horizontal;
		.box-orient(horizontal);

		background: #ccc;


		button.back {
			//-moz-box-flex: 1;
			.box-flex(1);

		}

		section.spacer {
			//-moz-box-flex: 10;
			.box-flex(10);
			.display-box();
			.box-orient(vertical);
			.box-pack(center);
			.box-align(center);

			span {
				.box-flex(1);
			}
		}

		section.score {
			.box-flex(1);

			.display-box();
			.box-orient(vertical);
			.box-pack(center);

			span {
				.box-flex(1);
			}
		}

	}
	.workspace {
		//display: -moz-box;
		.display-box();

		//-moz-box-orient: vertical;
		.box-orient(vertical);

		//-moz-box-flex: 19;
		.box-flex(19);
		background: grey;

		.select-game-view {
			//-moz-box-flex: 1;
			.box-flex(1);

			//display: -moz-box;
			.display-box();
			.box-align(justify);

			//-moz-box-orient: vertical;
			.box-orient(vertical);

			h2 {
				//-moz-box-flex: 1;
				.box-flex(1);
			}
			ul {
				margin: 10px;

				//display: -moz-box;
				.display-box();

				//-moz-box-orient: vertical;
				.box-orient(vertical);

				//-moz-box-flex: 10;
				.box-flex(10);

				li {
					//-moz-box-flex: 1;
					.box-flex(1);

					& + li {
						margin-top: 10px;
					}

				}
			}

		}
		.game-view {
			//display: -moz-box;
			.display-box();

			//-moz-box-orient: horizontal;
			.box-orient(horizontal);

			//-moz-box-flex: 1;
			.box-flex(1);

			.qa-section{
				//-moz-box-flex: 1;
				.box-flex(1);

				.display-box();
				.box-orient(horizontal);

				position: relative;

				.question-container {
					.box-flex(1);
					.display-box();
					/*
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 50%;
					*/

					.question-view {
						.box-flex(1);
						h1 {
							width: 200px;
						}
					}
				}
				.answers-container {
					.box-flex(1);
					margin: 10px;
					/*
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					left: 50%;
					*/
					//display: -moz-box;
					.display-box();

					//-moz-box-orient: vertical;
					.box-orient(vertical);

					.answer-view {
						//-moz-box-flex: 1;
						.box-flex(1);
						& + li {
							//margin-top: 10px;
						}
					}
				}
			}
		}
	}
}
body {

}
.btn {
	font-size: inherit;
}