.container {
	width: 1280px;
	height: 720px;
	position: absolute;
	left: 50%;
	margin-left: -640px;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	border: 1px solid white;
}
.menubar {
    padding-left: 20px;
    color: white;
    text-shadow: 1px 1px 0px black;
    font-size: 40px;
    line-height: 80px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	position: absolute;
    left: 0;
    right: 0;
	top: 0;
	height: 80px;
	background: -moz-linear-gradient(#00387D, #112441);
	background: -webkit-linear-gradient(#00387D, #112441);
	background: linear-gradient(#00387D, #112441);
	border-bottom: 1px solid white;
}
.app {
    left: 0;
    right: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	background: -moz-linear-gradient(#F2F2F2, #E0E0E0);
	background: -webkit-linear-gradient(#F2F2F2, #E0E0E0);
	background: linear-gradient(#F2F2F2, #E0E0E0);
	border-bottom-left-radius: 8px;
 	border-bottom-right-radius: 8px;
	border-top: none;

	.score-view {
	    .makeColumn(12);
		height: 100px;
		line-height: 100px;
		font-size: 26px;
		text-align: right;
		color: gray;
		text-align: right;
		.badge{
			font-size: 32px;
		}
	}
	.question-container {
		.makeColumn(6);
		.question-view {
			.buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
			.border-radius(8px);
			color: white;
			font-size: 50px;
			text-align: center;
			height: 529px;
			h1 {
			    padding-top: 10px;
				font-size: 40px;
			}
		}

	}
	.answers-container {
		.makeColumn(6);

		.answer-view {
			height: 100px;
			//.buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
			.border-radius(8px);
			display: block !important;
			line-height: 100px;
			font-size: 50px;
			text-align: center;
			list-style-type: none;
			margin-bottom: 30px;
		}
		.answer-view.correct {
			border: 3px solid green !important;
		}

	}
}

.media-view {
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-top: -150px;
    margin-left: 40%;
    cursor: pointer;
}

.select-game-header {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.game-header {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
}

.game-container li {
    display: block;
    width: 600px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;

}

.back-link {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
img#songPicture{
    position:relative;
    width:60%;
    max-height: 320px;
    padding-top:20px;
}